{{#with book}}
  <h1>{{title}}</h1>
  <img src="{{cover}}" alt="{{title}}">
  <p>Authors: {{authors}}</p>
  <p>Categories: {{categories}}</p>
  <p>Page Count: {{pagecount}}</p>
  <p>Published: {{published}}</p>
  <p>Description: {{description}}</p>
{{/with}}