{{!-- <h1>Hello {{name}}!</h1>
<h2>You are {{age}} years old</h2> --}}

{{!-- <h1>Hello {{person.name}}</h1>
<h2>You are {{person.age}} years old</h2> --}}

{{!-- {{#with person}}
<h1>Hello {{name}}</h1>
<h2>You are {{age}} years old</h2>
{{/with}} --}}

{{!-- {{#each people as | person |}}
<h1>Hello {{person}}</h1>
{{/each}} --}}

{{!-- {{#if isDone}}
<h1>Complete!</h1>
{{/if}} --}}

{{!-- {{#unless isDone}}
<h1>Incomplete!</h1>
{{/unless}} --}}

{{!-- {{#each people as | person |}}
{{#with person}}
<h1>Hello {{name}}</h1>
{{/with}}
{{/each}} --}}
